SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.0.116

DB_NAME=bolsa_tefe
DB_USER=postgres
DB_PASSWORD=postgres123
DB_HOST=localhost
DB_PORT=5432

TEFE_TOKEN_URL=https://sso.tefe.am.gov.br/realms/prefeitura/protocol/openid-connect/token
TEFE_CLIENT_ID=
TEFE_CLIENT_SECRET=
TEFE_CIDADAO_BUSCA_URL=
TEFE_HTTP_TIMEOUT=15
TEFE_TOKEN_CACHE_TIMEOUT=300
TEFE_CIDADAO_CACHE_TIMEOUT=120
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_JWKS_CACHE_TIMEOUT=3600
